@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Noto Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1, h2, button {
  font-family: 'Space Grotesk', sans-serif;
}
